body{
    background-image: url(image/stonks.png); 
    background-size: 100%;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
  }